<div class="container">
    <div class="card card-container">
      <h3 class="text-center">CARS SERVICE</h3>
      <img id="profile-img" class="profile-img-card" src="assets/avatar.png"/>
      <form class="form-signin">
        <input [(ngModel)]="login" name="login" type="text" id="inputEmail" class="form-control" placeholder="Login">
        <input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" >
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
      </form>
    </div>
  </div>
  
  <p>{{login}} {{password}}</p>