<app-header>
    <p levels>cars</p>

    <div content>
        <p>Some text</p>
    </div>
</app-header>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table table-striped">
                <thead>
                    <tr>
                        <th>car</th>
                        <th>plate</th>
                        <th>delivery date</th>
                        <th>deadline</th>
                        <th>client</th>
                        <th>cost</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars; let i = index" class="row-car" (click)="goToCarDetails(car.id)">
                        <td appCsImportant [ngClass]="{'row-error': car.isFullyDamaged}">{{ car?.model }}</td>
                        <td>{{ car?.plate }}</td>
                        <td>{{ car?.deliveryDate | date: 'shortDate' }}</td>
                        <td>{{ car?.deadline | date: 'shortDate' }}</td>
                        <td>{{ car?.clientFirstName }} {{ car?.clientSurname | surnameCut }}</td>
                        <td appCsImportant >{{ car?.cost | currency: 'PLN' : true }}</td>
                        <td>Action PLEACEHOLDER</td>
                    </tr>
                </tbody>     
            </table>
            <ng-template #noCarsInfo>
                <div class="no-car-info">
                    <p>Currently there are no cars in the service</p>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"> 
            <button class="btn btn-sm btn-primary float-right" (click)="showGross()">SHOWN GROSS</button>
        </div>
    </div>
    <app-total-cost #totalCostRef [inputTotalCost]="totalCost" (shownGross)="onShownGross($event)"></app-total-cost>
    <div class="row" *ngIf="cars && grossCost && visibleGrossCost">
        <div class="col-sm-12">
            <div class="total-cost">
                <p class="text-right">GROSS COST: {{grossCost}} PLN</p>
            </div>
        </div>
    </div>
</div>

<p class="data-header">Add new car</p>

<div class="data-container">
    <form [formGroup]="carForm">
        <div class="row form-group">
            <div class="col-sm-4">
                <label>Model</label>
                <input formControlName="model" type="text" class="form-control" placeholder="model">
                <p class="error" *ngIf="!carForm.get('model').valid && carForm.get('model').dirty">This field is required</p>
            </div>
            <div class="col-sm-4">
                <label>Type</label>
                <input formControlName="type" type="text" class="form-control">
            </div>
            <div class="col-sm-4">
                <label>Plate</label>
                <input formControlName="plate" type="text" class="form-control">
                <p class="error" *ngIf="!carForm.get('plate').valid && carForm.get('plate').dirty">This field is required</p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-4">
                <label>Delivery Date</label>
                <input formControlName="deliveryDate" type="text" class="form-control" placeholder="model">
            </div>
            <div class="col-sm-4">
                <label>Deadline</label>
                <input formControlName="deadline" type="text" class="form-control">
            </div>
            <div class="col-sm-4">
                <label>Color</label>
                <input formControlName="color" type="text" class="form-control">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-4">
                <label>Power</label>
                <input formControlName="power" type="text" class="form-control" placeholder="model">
            </div>
            <div class="col-sm-4">
                <label>Client Firstname</label>
                <input formControlName="clientFirstName" type="text" class="form-control">
            </div>
            <div class="col-sm-4">
                <label>Client Surname</label>
                <input formControlName="clientSurname" type="text" class="form-control">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-4">
                <label>Cost</label>
                <input formControlName="cost" type="text" class="form-control" placeholder="model">
            </div>
            <div class="col-sm-4">
                <label>Year</label>
                <input formControlName="year" type="text" class="form-control" placeholder="yesr">
            </div>
            
            <div class="col-sm-4">
                <label>Is Fully Damaged
                    <input formControlName="isFullyDamaged" type="checkbox">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button [disabled]="carForm.invalid" type="submit" class="btn btn-danger float-right" (click)="addCar()">Add car</button>
            </div>
        </div>       
    </form>

    <pre> {{ carForm.value | json }} </pre>
    <pre> Stan walidacji inputa model: {{ carForm.get('model').valid }}</pre>
    <pre> Stan walidacji inputa plate: {{ carForm.get('plate').valid }}</pre>
</div>