@import '../../../assets/style/variables.less';

.total-cost,
.no-car-info{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: @blue;
    padding: 20px;
    background: @white;
}

body {
    background: dimgrey;
}

.row-car {
    cursor: pointer;
}

.part-group{
    background: #d1d1d1;
    padding-bottom: 15px;
}