<app-header>
    <p levels>cars</p>

    <div content>
        <p>Some text</p>
    </div>
</app-header>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table table-striped">
                <thead>
                    <tr>
                        <th>car</th>
                        <th>plate</th>
                        <th>delivery date</th>
                        <th>deadline</th>
                        <th>client</th>
                        <th>cost</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars; let i = index" class="row-car" (click)="goToCarDetails(car.id)">
                        <td [ngClass]="{'row-error': car.isFullyDamaged}">{{ car?.model }}</td>
                        <td>{{ car?.plate }}</td>
                        <td>{{ car?.deliveryDate }}</td>
                        <td>{{ car?.deadline }}</td>
                        <td>{{ car?.clientFirstName }} {{ car?.clientSurname }}</td>
                        <td>{{ car?.cost }}</td>
                        <td>Action PLEACEHOLDER</td>
                    </tr>
                </tbody>     
            </table>
            <ng-template #noCarsInfo>
                <div class="no-car-info">
                    <p>Currently there are no cars in the service</p>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"> 
            <button class="btn btn-sm btn-primary float-right" (click)="showGross()">SHOWN GROSS</button>
        </div>
    </div>
    <app-total-cost #totalCostRef [inputTotalCost]="totalCost" (shownGross)="onShownGross($event)"></app-total-cost>
    <div class="row" *ngIf="cars && grossCost && visibleGrossCost">
        <div class="col-sm-12">
            <div class="total-cost">
                <p class="text-right">GROSS COST: {{grossCost}} PLN</p>
            </div>
        </div>
    </div>
</div>